body {
  background-color: #3a3a3a;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ball {
  width: 100px;
  height: auto;
  border-radius: 50%;
  background-color: lightcoral;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;

  cursor: pointer;
  transition: width 1s, height 1s;
}
